body
{
	padding-top: 3.25rem;
}

.container-fluid
{
	padding: 0;
}

.row .col-10
{
	padding: 0 0 0 0.25em;

	text-overflow: ellipsis;
	/* Required for text-overflow to do anything */
	white-space: nowrap;
	overflow: hidden;
}

.row
{
	padding-bottom: 0.75rem;
}

.row:nth-child(odd)
{
	background-color: #dcdcdc;
}

main form
{
	margin-top: 0.5rem;
}

button
{
	cursor: pointer;
}